* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: rgba(112, 0, 0, 0.842);
  --primary-color: rgb(253, 213, 163);
  --secondary-color: rgb(77, 27, 0);
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-bg-color);
  padding: 0px 30px;
}

header h1 {
  color: var(--primary-color);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.logo {
  justify-content: center;
  align-items: center;
}

#logo {
  width: 60px;
}

#main-menu {
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#main-menu a {
  padding: 10px;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

#main-menu a:hover {
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
}

#main-menu a:focus {
  opacity: 0.8;
}

main {
  text-align: center;
  margin-top: 30px;
  font-size: 1em;
  color: var(--secondary-color);
  height: 300px;
}

main h1 {
  margin-bottom: 20px;
}

.card-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.card {
  line-height: 1.6em;
  color: var(--primary-color);
  text-align: left;
  max-inline-size: 30%;
  padding: 20px;
  border: 2px solid var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
  background-color: var(--primary-bg-color);
}

.card h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
}

.card a:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
